POSTGRES_USER=nombre-usuario-postgres
POSTGRES_PASSWORD=password-postgres-segura
POSTGRES_DB=losralos

SEED_ADMIN_EMAIL=email-del-primer-admin
SEED_ADMIN_PASSWORD=password-segura-minimo-12-caracteres
SEED_ADMIN_NOMBRE=nombre-visible-del-admin
