# .NET
bin/
obj/
*.user
*.suo
.vs/

.docs/
docs/

# Env
.env
!.env.example

# EF Core
*.db

# IDE
.idea/
.vscode/

# Logs
logs/
*.log

# Node
node_modules/
dist/

# Docker uploads
uploads/

# Legajos de prueba (datos sensibles)
*.pdf
